.flex-center 
  display flex
  justify-content: center
  align-items: center

.flex-column
  display: flex
  flex-direction: column

.shadow
  box-shadow 0 0 4px 4px #f1f1f1
.color-sky
  color:skyblue
.fz12
  font-size 12px
.fz14
  font-size 14px
.mt10
  margin-top: 10px